html {
  /* Makes it so that 1rem = 10px for Quick Mafs */
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  /* attempt to achieve FOIT instead of FOUT */
  font-display: block;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
