@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  /* Makes it so that 1rem = 10px for Quick Mafs */
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 2.6rem;
  color: #000000;
}

.fill {
  fill: #0061ff;
  stroke: #0061ff;
}
